@import "../../../scss/vars";

.text {
  text-align: center;
  margin-bottom: 60px;
}

.btn {
  grid-column: 4 / span 3;
}

@media (max-width: $break_md) {
  .text {
    margin-bottom: 30px;
  }

  .btn {
    grid-column: unset;
  }
}