@import "../../scss/vars";

.block_1 {
  margin-bottom: 29px;
  display: flex;
  align-items: center;
  width: 100%;
}

.block_2 {
  margin-bottom: 30px;
}

.block_3 {
  margin-bottom: 30px;
}

.btn {
  min-width: 285px;
  margin-left: auto;
}

.rating {
  position: relative;
}

@media (max-width: $break_md) {
  .block_1 {
    flex-direction: column;
    align-items: unset;
    margin-bottom: 20px;
  }

  .btn {
    width: 100%;
    margin-top: 30px;
  }
}