@import "../../../scss/vars";

.block {
  display: flex;
  flex-direction: column;
}

.inner {
  display: flex;
  align-items: center;
}

.item_1 {
  border-radius: 4px;
  margin-right: 15px;
  height: 60px;
  width: 60px;
  min-width: 60px;
}

.text_1 {
  margin-bottom: 4px;
  margin-right: 15px;
}

.text_2 {
  margin-bottom: 3px;
}

@media (max-width: $break_md) {
  .inner {
    margin-bottom: 10px;
  }

  .item_2 {
    margin-bottom: auto;
  }
}
