@import "../../../scss/vars";

.block {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 32px;
  grid-row-gap: 31px;
}

.btn {
  width: 33px;
  height: 16px;
  background-color: $purple-1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block_1 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-column-gap: 25px;
  grid-row-gap: 10px;
  margin-bottom: auto;
  margin-top: 12px;
  margin-left: 20px;
  overflow: hidden;
  width: 100%;
  max-height: 100%;
}

.text_1 {
  margin-right: 15px;
}

.text_2 {
  margin-right: 4px;
}

@media (max-width: $break_md) {

  .block {
    grid-template-columns: auto 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 26px;
  }

  .block_1 {
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 16px;
    grid-column-gap: 21px;
    width: auto;
    margin-bottom: auto;
  }

  .block.typeSecond {
    display: flex;
    flex-wrap: wrap;

    .item {
      display: none;
    }

    .item:first-of-type {
      display: block;
    }

    .btn {
      display: none;
    }
  }
}