@import "../../../scss/vars";

.block {
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 216px 1fr;
  min-height: 124px;
  overflow: hidden;
}

.block_1 {
  padding: 23px 31px 27px 31px;
  background-color: #F4F4FD;
}

.text_1 {
  margin-bottom: 17px;
  color: $grey-9;
}

.icon {
  margin-right: 9px;
}

.item_1 {
  display: flex;
  align-items: center;
}

.item_1:not(:last-of-type) {
  margin-bottom: 14px;
}

.block_2 {
  padding: 23px 22px 23px 37px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
}

.btn {
  min-width: 211px;
}

@media (max-width: $break_lg) {
  .block_2 {
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
}

@media (max-width: $break_md) {
  .block {
    grid-template-columns: 1fr;
  }

  .block_1,
  .block_2 {
    padding: 20px;
  }

  .block_2 {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-bottom: 30px;
  }

  .text_1 {
    margin-bottom: 12px;
  }

  .btn {
    min-width: unset;
    width: 100%;
  }
}