@import "../../../scss/vars";

.block {
  width: 100%;
  height: 264px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background-color: $grey-6;
  grid-gap: 17px;
}

.item {
  border-radius: 4px;
}
