@import "../../../scss/vars";

.text {
  margin: 20px auto 74px auto;
}

.block {
  display: flex;
  justify-content: space-between;
}

.btn {
  min-width: 285px;
}

@media (max-width: $break_md) {
  .text {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
  }

  .block {
    display: grid;
    grid-gap: 30px;
    justify-content: unset;
  }

  .btn {
    min-width: unset;
  }
}