$break_mb: 400px;
$width_mb: 400px;
$break_sm: 566px;
$width_sm: 516px;
$break_md: 812px;
$width_md: 762px;
$break_lg: 1058px;
$width_lg: 1008px;
$break_xl: 1306px;
$width_xl: 1256px;

$const_padding: 25px;

$purple-1: #9B63F8;
$purple-2: #351768;
$purple-3: #6A44AA;
$purple-4: #E9E2F6;
$purple-5: #8E69CC;
$purple-6: #C2B9D1;
$purple-7: #AEA2C3;
$purple-8: #CDB1FB;
$pink-1: #FFA8D6;
$pink-2: #FF2998;
$pink-3: #FE2999;
$pink-4: #FFEDF6;
$grey-1: #351768;
$grey-2: #F8F8FA;
$grey-3: #E5E5E5;
$grey-4: #7A7386;
$grey-5: #F5EEFF;
$grey-6: #F4EEFF;
$grey-7: #F8F8FA;
$grey-8: #F7F7FE;
$grey-9: #96919F;
$grey-10: #545454;
$grey-11: #F4F4FD;
$grey-12: #FAF7FE;
$grey-13: #7D7D7D;
$black-1: #211536;
$blue-1: #36AFD6;
$orange-1: #F05757;
$green-1: #16BD3B;
